<h1>Welcome to Ebay</h1>

<div> Please sign in </div>

<div>
    <%= form_with do |form| %>
        <%= form.label :address, "email" %>
        <%= form.email_field :address %>
        <%= form.submit "login" %>
    <% end %>
</div>